body{
    padding: 0px;
    margin: 0px;

}

.headertitle{
    background-color: black;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

.name{
    color: white;
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navlink{
    text-decoration: none;
    padding: 10px;
    color: rgb(143, 138, 136);
    font-weight: bold;
}

.navlink:hover{
    color: rgb(65, 64, 62);
    font-weight: bold;
}

.activelink{
    background-color: rgb(4, 4, 87);
}