body{
    padding: 0px;
    margin: 0px;

}

.headertitle{
    background-color: black;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

.name{
    color: white;
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    justify-content: center;
}

.navlink{
    text-decoration: none;
    padding: 10px;
}